In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\hp\Desktop\Data sceince projects\company_customers_dirty_v2.csv" , encoding='latin1')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      30 non-null     int64
 1   Name            30 non-null     object
 2   Email           30 non-null     object
 3   Age             30 non-null     int64
 4   Country         30 non-null     object
 5   PurchaseAmount  27 non-null     float64
 6   SignupDate      30 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.8+ KB

In [5]:
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34,Nigeria,340.75,2021/12/20
2,3,Aliyu Musa,aliyu.musa@company.com,43,Naija,NaN,15-02-2022
3,4,Maryam Yusuf,maryamyusuf@,41,Ghana,-100.00,2020-05-10
4,5,David James,david.james@company.com,-5,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,150,NGR,1000.00,2021-11-11
7,8,John Doe,john@example.com,25,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38,Nigeria,750.00,2019-03-05
9,10,Chris Paul,chris.paul.com,200,Canada,300.00,2020/12/01
10,11,Ngozi Okafor,ngozi.okafor@company.com,19,Nigeria,-250.00,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22,Naija,400.00,12-11-2020
12,13,Mohammed Sani,mohammedsani@,33,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34,Nigeria,340.75,2021/12/20
14,15,Aliyu Musa,aliyu.musa@company.com,43,NGR,NaN,15-02-2022
15,16,Peter Johnson,peter.johnson@company.com,45,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41,Nigeria,-100.00,2020-05-10
18,19,David James,david.james@company.com,29,Ghana,600.00,2021-04-14
19,20,Grace Lee,gracelee.com,27,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,150,NGR,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38,Nigeria,700.00,2019/03/15
22,23,Chris Paul,chrispaul@,19,Naija,300.00,2020-01-01
23,24,Ngozi Okafor,ngozi.okaforcompany.com,-10,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33,Nigeria,-50.00,2017-07-19
26,27,Jane Smith,jane@smith.com,34,UK,340.75,2021/12/20
27,28,Aliyu Musa,aliyu.musa@company.com,43,Naija,1500.00,15-02-2022
28,29,Peter Johnson,peter.johnson@,45,NGR,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26,Nigeria,250.00,2022-10-10

In [7]:
df["Age"] = np.where(df['Age'] < 18, np.nan, df['Age'])
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Naija,NaN,15-02-2022
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,-100.00,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,150.0,NGR,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,chris.paul.com,200.0,Canada,300.00,2020/12/01
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,-250.00,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Naija,400.00,12-11-2020
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,NGR,NaN,15-02-2022
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,-100.00,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,gracelee.com,27.0,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,150.0,NGR,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.0,Nigeria,700.00,2019/03/15
22,23,Chris Paul,chrispaul@,19.0,Naija,300.00,2020-01-01
23,24,Ngozi Okafor,ngozi.okaforcompany.com,NaN,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.0,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.0,Nigeria,-50.00,2017-07-19
26,27,Jane Smith,jane@smith.com,34.0,UK,340.75,2021/12/20
27,28,Aliyu Musa,aliyu.musa@company.com,43.0,Naija,1500.00,15-02-2022
28,29,Peter Johnson,peter.johnson@,45.0,NGR,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.0,Nigeria,250.00,2022-10-10

In [8]:
df["Age"] = np.where(df['Age'] > 100, np.nan, df['Age'])
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Naija,NaN,15-02-2022
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,-100.00,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,NaN,NGR,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,chris.paul.com,NaN,Canada,300.00,2020/12/01
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,-250.00,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Naija,400.00,12-11-2020
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,NGR,NaN,15-02-2022
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,-100.00,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,gracelee.com,27.0,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,NaN,NGR,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.0,Nigeria,700.00,2019/03/15
22,23,Chris Paul,chrispaul@,19.0,Naija,300.00,2020-01-01
23,24,Ngozi Okafor,ngozi.okaforcompany.com,NaN,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.0,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.0,Nigeria,-50.00,2017-07-19
26,27,Jane Smith,jane@smith.com,34.0,UK,340.75,2021/12/20
27,28,Aliyu Musa,aliyu.musa@company.com,43.0,Naija,1500.00,15-02-2022
28,29,Peter Johnson,peter.johnson@,45.0,NGR,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.0,Nigeria,250.00,2022-10-10

In [9]:
df["PurchaseAmount"] = np.where(df['PurchaseAmount'] < 0, np.nan, df['PurchaseAmount'])
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Naija,NaN,15-02-2022
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,NaN,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,NaN,NGR,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,chris.paul.com,NaN,Canada,300.00,2020/12/01
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,NaN,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Naija,400.00,12-11-2020
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,NGR,NaN,15-02-2022
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,NaN,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,gracelee.com,27.0,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,NaN,NGR,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.0,Nigeria,700.00,2019/03/15
22,23,Chris Paul,chrispaul@,19.0,Naija,300.00,2020-01-01
23,24,Ngozi Okafor,ngozi.okaforcompany.com,NaN,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.0,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.0,Nigeria,NaN,2017-07-19
26,27,Jane Smith,jane@smith.com,34.0,UK,340.75,2021/12/20
27,28,Aliyu Musa,aliyu.musa@company.com,43.0,Naija,1500.00,15-02-2022
28,29,Peter Johnson,peter.johnson@,45.0,NGR,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.0,Nigeria,250.00,2022-10-10

In [12]:
mapping = {'Naija':"Nigeria","GH" : 'Ghana',"NGR" : "Nigeria"}
df['Country'] = df['Country'].replace(mapping)
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,15-02-2022
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,NaN,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,chris.paul.com,NaN,Canada,300.00,2020/12/01
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,NaN,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Nigeria,400.00,12-11-2020
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,15-02-2022
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,NaN,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,gracelee.com,27.0,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.0,Nigeria,700.00,2019/03/15
22,23,Chris Paul,chrispaul@,19.0,Nigeria,300.00,2020-01-01
23,24,Ngozi Okafor,ngozi.okaforcompany.com,NaN,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.0,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.0,Nigeria,NaN,2017-07-19
26,27,Jane Smith,jane@smith.com,34.0,UK,340.75,2021/12/20
27,28,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,1500.00,15-02-2022
28,29,Peter Johnson,peter.johnson@,45.0,Nigeria,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.0,Nigeria,250.00,2022-10-10

In [26]:
df_backup = df.copy()

In [27]:
df.loc[~df['Email'].str.contains('@', na = False), 'Email'] = 'Invalid'
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,15-02-2022
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,NaN,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,Invalid,NaN,Canada,300.00,2020/12/01
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,NaN,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Nigeria,400.00,12-11-2020
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,15-02-2022
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,NaN,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,Invalid,27.0,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.0,Nigeria,700.00,2019/03/15
22,23,Chris Paul,chrispaul@,19.0,Nigeria,300.00,2020-01-01
23,24,Ngozi Okafor,Invalid,NaN,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.0,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.0,Nigeria,NaN,2017-07-19
26,27,Jane Smith,jane@smith.com,34.0,UK,340.75,2021/12/20
27,28,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,1500.00,15-02-2022
28,29,Peter Johnson,peter.johnson@,45.0,Nigeria,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.0,Nigeria,250.00,2022-10-10

In [28]:
df.loc[~df['Email'].str.contains('.', na = False), 'Email'] = 'Invalid'
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,15-02-2022
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,NaN,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,Invalid,NaN,Canada,300.00,2020/12/01
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,NaN,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Nigeria,400.00,12-11-2020
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,2021/12/20
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,15-02-2022
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,NaN,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,Invalid,27.0,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.0,Nigeria,700.00,2019/03/15
22,23,Chris Paul,chrispaul@,19.0,Nigeria,300.00,2020-01-01
23,24,Ngozi Okafor,Invalid,NaN,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.0,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.0,Nigeria,NaN,2017-07-19
26,27,Jane Smith,jane@smith.com,34.0,UK,340.75,2021/12/20
27,28,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,1500.00,15-02-2022
28,29,Peter Johnson,peter.johnson@,45.0,Nigeria,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.0,Nigeria,250.00,2022-10-10

In [30]:
df['SignupDate'] = pd.to_datetime(df['SignupDate'], errors = 'coerce')
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,NaT
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,NaT
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,NaN,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,Invalid,NaN,Canada,300.00,NaT
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,NaN,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Nigeria,400.00,NaT
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,NaT
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,NaT
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,NaN,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,Invalid,27.0,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.0,Nigeria,700.00,NaT
22,23,Chris Paul,chrispaul@,19.0,Nigeria,300.00,2020-01-01
23,24,Ngozi Okafor,Invalid,NaN,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.0,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.0,Nigeria,NaN,2017-07-19
26,27,Jane Smith,jane@smith.com,34.0,UK,340.75,NaT
27,28,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,1500.00,NaT
28,29,Peter Johnson,peter.johnson@,45.0,Nigeria,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.0,Nigeria,250.00,2022-10-10

In [31]:
df['SignupDate'].dt.strftime('%Y,-%m, -%d')
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,NaT
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,NaT
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,NaN,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,Invalid,NaN,Canada,300.00,NaT
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,NaN,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Nigeria,400.00,NaT
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,NaT
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,NaT
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,NaN,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,Invalid,27.0,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.0,Nigeria,700.00,NaT
22,23,Chris Paul,chrispaul@,19.0,Nigeria,300.00,2020-01-01
23,24,Ngozi Okafor,Invalid,NaN,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.0,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.0,Nigeria,NaN,2017-07-19
26,27,Jane Smith,jane@smith.com,34.0,UK,340.75,NaT
27,28,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,1500.00,NaT
28,29,Peter Johnson,peter.johnson@,45.0,Nigeria,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.0,Nigeria,250.00,2022-10-10

In [33]:
df.to_csv("cleaned_data3.csv" , index=False )
df.sample(20)
df.head(20)

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,NaT
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,NaT
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,NaN,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,Invalid,NaN,Canada,300.00,NaT
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,NaN,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Nigeria,400.00,NaT
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,NaT
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,NaT
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,NaN,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,Invalid,27.0,UK,800.00,2021-07-25

In [35]:
df

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,NaT
2,3,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,NaT
3,4,Maryam Yusuf,maryamyusuf@,41.0,Ghana,NaN,2020-05-10
4,5,David James,david.james@company.com,NaN,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.0,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.0,Nigeria,750.00,2019-03-05
9,10,Chris Paul,Invalid,NaN,Canada,300.00,NaT
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.0,Nigeria,NaN,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.0,Nigeria,400.00,NaT
12,13,Mohammed Sani,mohammedsani@,33.0,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.0,Nigeria,340.75,NaT
14,15,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,NaN,NaT
15,16,Peter Johnson,peter.johnson@company.com,45.0,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.0,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.0,Nigeria,NaN,2020-05-10
18,19,David James,david.james@company.com,29.0,Ghana,600.00,2021-04-14
19,20,Grace Lee,Invalid,27.0,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,NaN,Nigeria,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.0,Nigeria,700.00,NaT
22,23,Chris Paul,chrispaul@,19.0,Nigeria,300.00,2020-01-01
23,24,Ngozi Okafor,Invalid,NaN,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.0,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.0,Nigeria,NaN,2017-07-19
26,27,Jane Smith,jane@smith.com,34.0,UK,340.75,NaT
27,28,Aliyu Musa,aliyu.musa@company.com,43.0,Nigeria,1500.00,NaT
28,29,Peter Johnson,peter.johnson@,45.0,Nigeria,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.0,Nigeria,250.00,2022-10-10

In [37]:
df["Age"].fillna(df['Age'].mean(), inplace=True)
df

C:\Users\hp\AppData\Local\Temp\ipykernel_2808\3764744432.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df['Age'].mean(), inplace=True)

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.00,Nigeria,200.50,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.00,Nigeria,340.75,NaT
2,3,Aliyu Musa,aliyu.musa@company.com,43.00,Nigeria,NaN,NaT
3,4,Maryam Yusuf,maryamyusuf@,41.00,Ghana,NaN,2020-05-10
4,5,David James,david.james@company.com,32.44,USA,500.25,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.00,UK,0.00,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,32.44,Nigeria,1000.00,2021-11-11
7,8,John Doe,john@example.com,25.00,Nigeria,200.50,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.00,Nigeria,750.00,2019-03-05
9,10,Chris Paul,Invalid,32.44,Canada,300.00,NaT
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.00,Nigeria,NaN,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.00,Nigeria,400.00,NaT
12,13,Mohammed Sani,mohammedsani@,33.00,Ghana,1200.00,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.00,Nigeria,340.75,NaT
14,15,Aliyu Musa,aliyu.musa@company.com,43.00,Nigeria,NaN,NaT
15,16,Peter Johnson,peter.johnson@company.com,45.00,USA,450.00,2018-08-22
16,17,John Doe,john@example.com,25.00,Nigeria,200.50,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.00,Nigeria,NaN,2020-05-10
18,19,David James,david.james@company.com,29.00,Ghana,600.00,2021-04-14
19,20,Grace Lee,Invalid,27.00,UK,800.00,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,32.44,Nigeria,1000.00,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.00,Nigeria,700.00,NaT
22,23,Chris Paul,chrispaul@,19.00,Nigeria,300.00,2020-01-01
23,24,Ngozi Okafor,Invalid,32.44,Ghana,200.00,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.00,USA,NaN,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.00,Nigeria,NaN,2017-07-19
26,27,Jane Smith,jane@smith.com,34.00,UK,340.75,NaT
27,28,Aliyu Musa,aliyu.musa@company.com,43.00,Nigeria,1500.00,NaT
28,29,Peter Johnson,peter.johnson@,45.00,Nigeria,450.00,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.00,Nigeria,250.00,2022-10-10

In [39]:
df['PurchaseAmount'].fillna(df['PurchaseAmount'].mean(), inplace=True)
df

C:\Users\hp\AppData\Local\Temp\ipykernel_2808\1596233238.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PurchaseAmount'].fillna(df['PurchaseAmount'].mean(), inplace=True)

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,John Doe,john@example.com,25.00,Nigeria,200.500000,2022-01-15
1,2,Jane Smith,jane_smith@domain,34.00,Nigeria,340.750000,NaT
2,3,Aliyu Musa,aliyu.musa@company.com,43.00,Nigeria,522.782609,NaT
3,4,Maryam Yusuf,maryamyusuf@,41.00,Ghana,522.782609,2020-05-10
4,5,David James,david.james@company.com,32.44,USA,500.250000,2022-06-30
5,6,Grace Lee,grace.lee@company.com,27.00,UK,0.000000,2021-07-25
6,7,Samuel Okon,samuel.okon@company.com,32.44,Nigeria,1000.000000,2021-11-11
7,8,John Doe,john@example.com,25.00,Nigeria,200.500000,2022-01-15
8,9,Fatima Bello,fatima.bello@,38.00,Nigeria,750.000000,2019-03-05
9,10,Chris Paul,Invalid,32.44,Canada,300.000000,NaT
10,11,Ngozi Okafor,ngozi.okafor@company.com,19.00,Nigeria,522.782609,2021-06-15
11,12,Amaka Obi,amakaobi@domain,22.00,Nigeria,400.000000,NaT
12,13,Mohammed Sani,mohammedsani@,33.00,Ghana,1200.000000,2020-09-09
13,14,Jane Smith,jane_smith@domain,34.00,Nigeria,340.750000,NaT
14,15,Aliyu Musa,aliyu.musa@company.com,43.00,Nigeria,522.782609,NaT
15,16,Peter Johnson,peter.johnson@company.com,45.00,USA,450.000000,2018-08-22
16,17,John Doe,john@example.com,25.00,Nigeria,200.500000,2022-01-15
17,18,Maryam Yusuf,maryamyusuf@,41.00,Nigeria,522.782609,2020-05-10
18,19,David James,david.james@company.com,29.00,Ghana,600.000000,2021-04-14
19,20,Grace Lee,Invalid,27.00,UK,800.000000,2021-07-25
20,21,Samuel Okon,samuel.okon@company.com,32.44,Nigeria,1000.000000,2021-11-11
21,22,Fatima Bello,fatima.bello@company.com,38.00,Nigeria,700.000000,NaT
22,23,Chris Paul,chrispaul@,19.00,Nigeria,300.000000,2020-01-01
23,24,Ngozi Okafor,Invalid,32.44,Ghana,200.000000,2018-02-28
24,25,Amaka Obi,amaka.obi@company.com,22.00,USA,522.782609,2020-09-09
25,26,Mohammed Sani,mohammedsani@,33.00,Nigeria,522.782609,2017-07-19
26,27,Jane Smith,jane@smith.com,34.00,UK,340.750000,NaT
27,28,Aliyu Musa,aliyu.musa@company.com,43.00,Nigeria,1500.000000,NaT
28,29,Peter Johnson,peter.johnson@,45.00,Nigeria,450.000000,2018-08-22
29,30,Blessing Tom,blessing.tom@company.com,26.00,Nigeria,250.000000,2022-10-10